---
import Layout from "../layouts/Layout.astro"
---

<Layout title="Tabla de clasificaciones " >
    <section class="max-w-screen-xl flex flex-wrap items-center justify-between mx-auto px-4 mt-12">

        <h1 class="dark:text-white text-5xl mt-12">Tabla de clasificaciones</h1>
    </section>
</Layout>