---
import Layout from "../layouts/Layout.astro"
import Countdown from "../components/Countdown.astro"
import Logo from "../components/Logo.astro";
import NextEventButton from "../components/NextEventButton.astro";
import Podio from '../components/Podio.astro';
import Gallery from "../components/Gallery.astro";

---

<Layout title="Proxima Fecha" id="inicio">
    <section class="relative flex justify-center items-center flex-col md:h-[80vh] h-[35vh]  ">

        <div class="absolute flex justify-center text-gray-800 stroke-slate-50 stroke-[0.08rem] md:w-[20%] w-[50%] ccl mt-8">
            <Logo />
        </div>

        <!-- <video class="w-full object-cover object-center h-full" loop muted autoplay src="https://nhrl.cdn.prismic.io/nhrl/2236371d-b74a-4ce2-afba-13cae109c73d_COMPRESSED-NHRL_LOOPING+VIDEO_15_2+SEC.mp4"></video> -->
        <img src="/img/banner2.jpg" alt=""  class="w-full object-cover object-top h-full">
        <NextEventButton />
        <div class="triangle absolute border-current "></div>
    </section>

    <div class="max-w-screen-lg flex flex-wrap items-center justify-between mx-auto px-4 md:mt-8 mt-7">

        <div class="w-full">
            <Podio />
        </div>

        
        <div class="w-full">
            <Gallery />

        </div>

            
    </div>

</Layout>


<style>
    .triangle{
        bottom: 0;
        left: 0;
        border-width: 45PX 0 0 45px;
    }
	html .triangle{

		border-color: transparent transparent transparent white;
	}
	html.dark .triangle{
		border-color: transparent transparent transparent rgb(17 24 39 / var(--tw-bg-opacity));
	}
	
</style>