---
import Layout from "../layouts/Layout.astro"
import Countdown from "../components/Countdown.astro"
import Logo from "../components/Logo.astro";
import NextEventButton from "../components/NextEventButton.astro";
import Podio from '../components/Podio.astro';

---

<Layout title="Proxima Fecha" id="inicio">
    <section class="relative flex justify-center items-center flex-col md:h-[80vh] h-[35vh]  ">

        <div class="absolute flex justify-center text-gray-800 stroke-slate-50 stroke-[0.08rem] md:w-[25%] w-[35%] ccl mt-8">
            <Logo />
        </div>

        <!-- <video class="w-full object-cover object-center h-full" loop muted autoplay src="https://nhrl.cdn.prismic.io/nhrl/2236371d-b74a-4ce2-afba-13cae109c73d_COMPRESSED-NHRL_LOOPING+VIDEO_15_2+SEC.mp4"></video> -->
        <img src="/img/banner2.jpg" alt=""  class="w-full object-cover object-top h-full">
        <NextEventButton />
        <div class="triangle absolute border-current "></div>
    </section>

    <div class="max-w-screen-lg flex flex-wrap items-center justify-between mx-auto px-4 md:mt-8 mt-7">

        <div class="w-full">
            <Podio />
        </div>

        <h3 class="text-gray-800 dark:text-white p-3 md:text-3xl text-2xl mt-12">
            Próxima Fecha <strong>Temporada 2024</strong>
        </h3>
        
        <p class="text-gray-800 dark:text-white p-3">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Sunt cumque unde in odio nisi ipsum dolores molestias quos officiis consequatur, corporis natus consectetur? Corporis voluptatem ratione aperiam adipisci ad commodi.</p>
        <p class="text-gray-800 dark:text-white p-3">Recusandae unde error aliquam? Possimus esse maiores quo obcaecati recusandae, ipsam consequatur, officiis asperiores quia sunt quas, deserunt aut veniam quis quisquam explicabo praesentium est eaque omnis! Quaerat, odit? Natus?</p>
        <p class="text-gray-800 dark:text-white p-3">Consequatur aliquam natus hic quidem minus reiciendis corporis, voluptatibus possimus ipsam totam dolorum blanditiis ratione fuga architecto nesciunt sit velit fugiat nihil ex aut corrupti? Nisi cumque illo necessitatibus omnis!</p>
        <p class="text-gray-800 dark:text-white p-3">Cum delectus quia reprehenderit esse quas repellendus, suscipit saepe, possimus illo sit est commodi. Distinctio, sint voluptate natus placeat mollitia voluptatibus voluptas minus doloremque, non repudiandae hic, obcaecati dolor vel?</p>
        <p class="text-gray-800 dark:text-white p-3">Ipsam aliquam animi, culpa labore quibusdam ullam quae veniam consequatur sunt consectetur voluptate quaerat pariatur debitis unde, dignissimos nulla reprehenderit tempora. Quibusdam labore, sapiente facere nam soluta ut possimus culpa!</p>
        <p class="text-gray-800 dark:text-white p-3">Voluptatibus, dolor at, recusandae illo architecto ut eligendi, molestiae voluptas consequatur officia alias qui neque magnam tempora magni velit itaque adipisci illum soluta. Alias maxime facere distinctio quis eligendi quae!</p>
        <p class="text-gray-800 dark:text-white p-3">Excepturi dolorem harum, soluta nam aut fugiat praesentium atque. Natus voluptatibus magnam iste dolor beatae tempore in vel impedit voluptate aut! Dolorum praesentium tempore facere inventore velit aliquid laborum voluptatum.</p>
    
    </div>

</Layout>


<style>
    .triangle{
        bottom: 0;
        left: 0;
        border-width: 45PX 0 0 45px;
    }
	html .triangle{

		border-color: transparent transparent transparent white;
	}
	html.dark .triangle{
		border-color: transparent transparent transparent rgb(17 24 39 / var(--tw-bg-opacity));
	}
	
</style>