---

---
<span class="border-next-date absolute md:bottom-6 bottom-1 md:text-lg text-xs">
    <button class="text-white next-date">
        Próximo evento temporada <span class="font-semibold text-[deeppink]"> 2024 </span>
    </button>
</span>


<style>
    .next-date {
        background: #1f2937;
        padding: 10px 30px;
        
        border: 1px solid aqua;
    }
    .next-date, .next-date span, .border-next-date{
        transition: all  ease-in-out 0.2s ; 
    }
    .border-next-date {
        
        border: 1px solid transparent;
        margin: 10px; /* Ajusta el margen inicial para compensar el aumento de padding */
    }

    .border-next-date:hover {
        padding: 10px;
        margin: 0; 
        border: 2px solid deeppink;
        border-radius: 2px;
        /* transform: scale(1.1); */
        /* filter: blur(1.5); */
    }
    .border-next-date:hover  .next-date {
        border: none;
    }
    .border-next-date:hover  .next-date span {
        color:aqua
    }
</style>