---

---

<h3 class="dark:text-white md:text-5xl text-3xl text-center -mb-8  ">Ganadores temporada <strong>2023</strong></h3>
<div class="flex justify-center items-end space-x-4 ">
    <!-- Segundo lugar -->
    <div class="flex flex-col items-center">
        <a href="https://www.instagram.com/jrobot1988/" target="_blank" class="flex flex-col items-center relative" title="GreenBug JRobot">
            <img src="/img/robots/greenbug.png" alt="Segundo Lugar" class="md:w-48 w-24 md:h-48  h-24 rounded-full hover:scale-150 hover:z-50 transition-all duration-300 ease-in-out">
            <span class="mt-2 text-lg font-bold dark:text-white">JRobot</span>
            <span class="fas fa-medal md:text-5xl text-4xl text-slate-100"></span>
            <img src="/img/jrobot.jpg" alt=""class="absolute md:w-12 md:h-12 w-8 h-8 rounded-full md:left-0 md:bottom-28 -left-2 bottom-20" />

        </a>
    </div>

    <!-- Primer lugar -->
    <div class="flex flex-col items-center">
        <a href="https://www.instagram.com/roboticautem" class="flex flex-col items-center relative" target="_blank" title="Lil-Atom Club robotica UTEM">
            <img src="/img/robots/lil-atom.png" alt="Primer Lugar" class="md:w-80 w-40 md:h-80  h-40 rounded-full hover:scale-150 hover:z-50 transition-all duration-300 ease-in-out">
            <span class="mt-2 text-lg font-bold dark:text-white">Lil Atom </span>
            <span class="fas fa-medal md:text-7xl text-6xl text-yellow-300"></span>
            <img src="/img/cru.jpg" alt=""class="absolute md:w-14 md:h-14 w-8 h-8 rounded-full md:left-0 md:bottom-32 left-0 bottom-24" />
        </a>
    </div>

    <!-- Tercer lugar -->
    <div class="flex flex-col items-center">
        <a href="https://www.instagram.com/Criisguerra/" target="_blank" class="flex flex-col items-center relative" title="Destroyer CRobot">
            <img src="/img/robots/destroyer.png" alt="Tercer Lugar" class="md:w-44 w-24 md:h-44 h-24 rounded-full hover:scale-150 hover:z-50 transition-all duration-300 ease-in-out">
            <span class="mt-2 text-lg font-bold dark:text-white">Destroyer</span>
            <span class="fas fa-medal md:text-5xl text-4xl  text-amber-600"></span>
            <img src="/img/CRobot.png" alt=""class="absolute md:w-12 md:h-12 w-8 h-8 rounded-full md:left-0 md:bottom-28 -left-2 bottom-20" />

        </a>
    </div>
    
</div>