---

---

<h3 class="dark:text-white md:text-5xl text-3xl text-center md:mb-12 mb-4">Ganadores temporada 2023</h3>
<div class="flex justify-center items-end space-x-4 ">
    <!-- Segundo lugar -->
    <div class="flex flex-col items-center">
        <a href="https://www.instagram.com/jrobot1988/" target="_blank" class="flex flex-col items-center" title="Ver en instagram">
            <img src="../../public/img/jrobot.jpg" alt="Segundo Lugar" class="md:w-36 w-24 md:h-36  h-24 rounded-full">
            <span class="mt-2 text-lg font-bold dark:text-white">JRobot</span>
            <span class="fas fa-medal text-4xl text-slate-100"></span>
        </a>
    </div>

    <!-- Primer lugar -->
    <div class="flex flex-col items-center">
        <a href="#" class="flex flex-col items-center" target="_blank" title="Ver en instagram">
            <img src="../../public/img/no-user.jpg" alt="Primer Lugar" class="md:w-40 w-24 md:h-40  h-24 rounded-full">
            <span class="mt-2 text-lg font-bold dark:text-white">Lil Atom </span>
            <span class="fas fa-medal text-5xl text-yellow-300"></span>
        </a>
    </div>

    <!-- Tercer lugar -->
    <div class="flex flex-col items-center">
        <a href="https://www.instagram.com/Criisguerra/" target="_blank" class="flex flex-col items-center" title="Ver en instagram">
            <img src="../../public/img/CRobot.png" alt="Tercer Lugar" class="md:w-32 w-24 md:h-32 h-24 rounded-full dark:bg-gray-900 bg-gray-800">
            <span class="mt-2 text-lg font-bold dark:text-white">Destroyer</span>
            <span class="fas fa-medal text-3xl text-amber-500"></span>
        </a>
    </div>
    
</div>